@model Trips
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Trips</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateNew">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Car" class="control-label"></label>
                 @Html.DropDownListFor(model => model.CarId, ViewBag.Cars as SelectList)
                <span asp-validation-for="Car" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Range" class="control-label"></label>
                <input asp-for="Range" class="form-control" />
                <span asp-validation-for="Range" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Worker" class="control-label"></label>
                 @Html.DropDownListFor(model => model.WorkerId, ViewBag.Workers as SelectList))
                <span asp-validation-for="Worker" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostOfSpentFuel" class="control-label"></label>
                <input asp-for="CostOfSpentFuel" class="form-control" />
                <span asp-validation-for="CostOfSpentFuel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}