@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome in Car fleet ACS</h1>
    <p>This system was implemented as part of a test task at Croc. 
        To view information about the car, go to the "Car" tab and click on "Details".</p>
</div>
